.flex-container {
    display: flex;
    /* margin-left: 10%; */
    gap: 100px;
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: yellow;
    height: 60vh;
    align-items: center;
}

.flex-container .flex-children {
    background-color: violet;
    color: white;
    font-size: 26px;
    height: 150px;
    width: 150px;
    /* display: inline-block; */
    /* margin-left: 10%; */
    display: flex;
    align-items: center;
    justify-content: center;
}



.flex-children.red {
    background-color: red;
    order: 1;
}

.flex-children.green {
    background-color: green;
    order: 2;
}

.flex-children.blue {
    background-color: blue;
    order: 0;
}
.flex-children.negative {
    order: -1;
}