.pokemon-container {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #F5F7FB;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    width: 250px;
    height: 250px;
    border: 1px solid black;
    border-radius: 20px;
    position: relative;
}

.card img {
    width: 80%;
    position: absolute;
    top: -40%;
    left: 10%;
}
